
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');






body{

    background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrhw13c30Z_3H5sns77ymXCwUeMgAD3TgKySgx3nAL64KPLsJe9LWgTKpt-VPQmZvsEKA&usqp=CAU');
    background-size:cover;
    font-family: "Poetsen One";
    

}

.content{
    text-align: center;
}

h1{
    color:rgb(0, 0, 0);
    font-size: 3em;
    
    font-family: 'Poetsen One';
}
h2{
    color:black;
    font-size: 3em;
    
    font-family: 'Poetsen One';
}
p{
    font-size: 2.5em;
   
}
.title{
    
    color: rgb(0, 0, 0);
}
