.Menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.but{
    padding: 0.8rem 2rem;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.but-purple{
    background: var(--purple);
    color:var(--pure);
}

.but-purple:hover{
    background: transparent;
    border-color: var(--purple);
    color: var(--pure);
}
/* just for fun */

.but-2purple{
    background:transparent;
    color:var(--purple);
    border-color: var(--purple);
    border-radius: 10px;
    border-width: 3px;
    border-style: solid;
}

.but-2purple:hover{
    background: var(--purple);
    color: var(--pure);
    border-width: 7px;
    border-style: solid;
    border-color: var(--purple);
}
.but-2purple:hover img {
    animation: spin 1s infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 1200px) {
    .logo img {
        width: 50%;
    }

    .main .pic img,
    section .pic2 img {
        width: 250px;
    }

    section .portfolio .card {
        grid-template-columns: 1fr;
        grid-gap: 5rem;
    }

    section .social .socials {
        grid-template-columns: 1fr;
        grid-gap: 5rem;
    }

    section .social .fweb img {
        width: 20%;
    }

    section .contact .container h3 {
        width: 70%;
    }
}

@media (max-width: 768px) {
    .logo img {
        width: 75%;
    }

    .main .pic img,
    section .pic2 img {
        width: 150px;
    }

    section .portfolio .card {
        grid-template-columns: 1fr;
        grid-gap: 2rem;
    }

    section .social .socials {
        grid-template-columns: 1fr;
        grid-gap: 2rem;
    }

    section .social .fweb img {
        width: 30%;
    }

    section .contact .container h3 {
        width: 90%;
    }

    .main {
        flex-direction: column;
        text-align: center;
    }

    .main .pic {
        margin-bottom: 20px;
    }

    .Menu {
        flex-direction: column;
    }

    .right {
        margin-top: 20px;
    }

    .question {
        margin: 20px;
    }
}

@media (max-width: 480px) {
    .logo img {
        width: 90%;
    }

    .main .pic img,
    section .pic2 img {
        width: 100px;
    }

    section .portfolio .card {
        grid-template-columns: 1fr;
        grid-gap: 1rem;
    }

    section .social .socials {
        grid-template-columns: 1fr;
        grid-gap: 1rem;
    }

    section .social .fweb img {
        width: 50%;
    }

    section .contact .container h3 {
        width: 100%;
    }

    .main {
        flex-direction: column;
        text-align: center;
    }

    .main .pic {
        margin-bottom: 10px;
    }

    .Menu {
        flex-direction: column;
    }

    .right {
        margin-top: 10px;
    }

    .question {
        margin: 10px;
    }
}
